/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}img{vertical-align:middle}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}a[href],label[for],select,input[type=checkbox],input[type=radio]{cursor:pointer}button,input[type=button],input[type=image],input[type=reset],input[type=submit]{padding:0;overflow:visible;cursor:pointer}button::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=image]::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=submit]::-moz-focus-inner{border:0}.hide{position:absolute!important;left:-9999em!important}.clearfix:after{content:".";display:block;visibility:hidden;clear:both;height:0}h1,h2,h3,h4,h5,h6{font-weight:normal}.ie7 .clearfix{zoom:1}strong{font-weight:bold}em{font-style:italic}del{text-decoration:line-through}th,td{vertical-align:top}th{font-weight:normal;text-align:left}address,cite,dfn{font-style:normal}abbr,acronym{border-bottom:1px dotted #999;cursor:help}sub{line-height:0}sup{top:-0.5em}sub{bottom:-0.25em}textarea{overflow:auto}img{width: 100%; height: auto;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #727373;
}

/*input[type=text],
input[type=submit],
textarea{
  font-family: "Microsoft Yahei",SimHei,"Helvetica Neue","DejaVu Sans",Tahoma,"Hiragino Sans GB";
  font-size: 15px;
  -webkit-appearance:none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}*/

a,
a:visited{color: #727373; text-decoration: none;}

.hidden{display: none;}

html,body{position: relative; width: 100%; overflow-x: hidden;}
body{ background:#040d26 url(../images/body_bg.jpg) 0 0 no-repeat; -webkit-background-size: 100%; background-size: 100%; font-size: 14px; font-family: "Microsoft Yahei",SimHei,Arial; color: #fff; -webkit-tap-highlight-color: rgba(0,0,0,0);}

.chating_num{position: absolute; z-index: 10; left: 12px; top: 8px; font-size: 13px;}

.player{ position: absolute; left: 0; width: 100%; top: 0; z-index: 1;}

.banner{ width: 100%;}
.banner >*{display: none; position: relative;}

.banner .banner_default{display: none;}
.banner .banner_tuwen{display: block;}

/*fancybox*/
.fancybox-wrap{ z-index: 1001;}
.fancybox-overlay{position: absolute; left: 0; top: 0; width: 100%; bottom: 0; z-index: 1000;}



/*语音场景*/
.ba_content{ position: absolute; left: 0; top: 0; width: 100%; overflow: hidden; text-align: center;}
.ba_content .ba_photo{width: 50px; height: 50px; margin: 18px auto 7px; border: 2px #56a5d3 solid; border-radius: 50%; position: relative;}
.ba_content .ba_photo:after{content:""; display:block; background: url(../images/ico_photo_deco.png) 0 0 no-repeat; width: 102px; height: 19px; -webkit-background-size: 100%; background-size: 100%; position: absolute; left: -27px; top: 16px;}
.ba_content .ba_photo img{border-radius: 50%;}
.ba_content .ba_bar{ display: inline-block; background-color: #4ba0ef; border: 1px #01305b solid; color: #000; padding: 4px 15px 3px; border-radius: 14px;}

.audio_player{display: inline-block; background: url(../images/ico_sound.png) 0 0 no-repeat; -webkit-background-size: 100%; background-size: 100%; width: 7px; height: 12px; vertical-align: middle; position: relative; margin-right: 10px; top: -1px;}

.audio_player span{ position: absolute; width: 6px; height: 6px; border-radius: 50%; border: 2px #000 solid;}
.audio_player span.p1{ left: 1px; top: 1px; border-top-color:transparent; border-bottom-color:transparent; border-left-color:transparent;}
.audio_player span.p2{ left: -1px; top: -2px; border-top-color:transparent; border-bottom-color:transparent;border-left-color:transparent; width: 12px; height: 12px;}

/*人物头像文字场景*/
.chat_content{ position: absolute; left: 0; top: 0; width: 100%; padding-top: 11%;}
.chat_content:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.chat_content .chat_photo{ float: left; width: 50px; height: 50px; border: 2px #56a5d3 solid; border-radius: 50%; margin: 0 12px; -webkit-box-shadow: 0 0 4px rgba(46,144,255,.75);  box-shadow: 0 0 4px rgba(46,144,255,.75);}
.chat_content .chat_photo img{border-radius: 50%;}
.chat_content .chat_txt{ font-size: 15px; color: #35c3ff; padding: 5px 10px 0 0;}


/*广告场景*/


/*图文场景*/
.tuwen_content{ position: absolute; left: 0; top: 0; width: 100%; padding-top: 4%;}
.tuwen_content:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.tuwen_content .tuwen_img{ float: right; margin: 0 12px; width: 84px; border: 1px #56a5d3 solid; -webkit-box-shadow: 0 0 4px rgba(46,144,255,.75);  box-shadow: 0 0 4px rgba(46,144,255,.75); position: relative;}
.tuwen_content .tuwen_img:after{content:""; display:block;  background: url(../images/ico_zoomIn.png) 0 0 no-repeat; width: 17px; height: 17px; -webkit-background-size: 100%; background-size: 100%; position: absolute; right: 4px; bottom: 4px; z-index: 5;}
.tuwen_content .tuwen_txt{ padding: 18px 0 0 14px; font-size: 15px; color: #35c3ff; }





.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }
.animated1 { -webkit-animation-duration: 1.3s; animation-duration: 1.3s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.animated { -webkit-animation-duration: 0.7s; animation-duration: 0.7s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
@-webkit-keyframes fade1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }
}
.fade1 { -webkit-animation-name: fade1; animation-name: fade1; }
@-webkit-keyframes fade2 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}
.fade2 { -webkit-animation-name: fade2; animation-name: fade2; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.chat_block{ background: url(../images/line1.png) center 0 no-repeat; -webkit-background-size: 314px; background-size: 314px;}
/*barrage style*/
.line1{ font-size: 18px; color: #ffcf7d; padding: 0px 0 11px 118px; background: url(../images/ico_dao2.png) 0 2px no-repeat; -webkit-background-size: auto 100%; background-size: auto 100%; }
.line2{ font-size: 26px; color: #aee4ff; padding: 0px 0 8px 124px; background: url(../images/ico_dao1.png) 0 5px no-repeat; -webkit-background-size: auto 100%; background-size: auto 100%; }
.line3{ font-size: 15px; color: #ff6129; padding: 0px 0 6px 87px; background: url(../images/ico_dao3.png) 0 0 no-repeat; -webkit-background-size: auto 100%; background-size: auto 100%; }
.line4{ font-size: 24px; color: #feffa7; padding: 0px 0 7px 130px; background: url(../images/ico_dao4.png) 0 10px no-repeat; -webkit-background-size: auto 100%; background-size: auto 100%; }
.line5{ font-size: 18px; color: #77c3ff; padding: 0px 0 8px 140px; background: url(../images/ico_dao5.png) 0 5px no-repeat; -webkit-background-size: auto 100%; background-size: auto 100%; }
.line_me{ font-size: 24px; color: #83d9ff;  padding: 15px 0 29px 146px; background: url(../images/ico_dao_me.png) 0 5px no-repeat; -webkit-background-size: auto 100%; background-size: auto 100%; text-shadow: 1px 1px 0 rgba(0,0,0,.5);}


.input_bar{ width: 100%; height: 45px; overflow: hidden; display: table; background: url(../images/line2.png) center 0 no-repeat; -webkit-background-size: 317px; background-size: 317px;}
.input_user{ display: table-cell; width: 50px; vertical-align: top;}
.input_user span{ width: 26px; height: 26px; border: 1px #35c3ff solid; border-radius: 50%; display: block; margin: 7px auto 0;}
.input_user span img{width: 100%; height: 100%; border-radius: 50%;}
.input{display: table-cell; position: relative;}
.input input{display: block; width: 100%; padding: 0 5px; margin-top: 7px; height: 28px; border: 0; border-bottom: 1px #35c3ff solid; line-height: 28px; background-color: transparent; -webkit-appearance:none; border-radius:0; font-size: 16px; color: #fff; -webkit-box-sizing:border-box; box-sizing:border-box;}
.input:before{content:""; position: absolute; display: block; width: 1px; height: 8px; background-color: #35c3ff; left: 0; bottom: 10px;}
.input:after{content:""; position: absolute; display: block; width: 1px; height: 8px; background-color: #35c3ff; right: 0; bottom: 10px;}
.ico_share{display: table-cell; width: 50px; height: 45px; background: url(../images/ico_send.png) center center no-repeat; -webkit-background-size: 24px; background-size: 24px;}



#restrict_heng{ position: fixed; left: 0; top: 0; width: 100%; bottom: 0; z-index: 200; text-align: center; display: none;}
#restrict_heng p{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: table; background-color: rgba(0,0,0,.8); z-index: 200;}
#restrict_heng span{display: table-cell;  font-size: 30px; color: #fff; vertical-align: middle;}

#pop-notification{ position: fixed; z-index: 1001; border-radius: 6px; left: 50%; top: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); background-color: rgba(0,0,0,.7); padding: 16px; color: #fff; font-size: 16px; max-width: 80%; -webkit-box-sizing:border-box; box-sizing:border-box; line-height: 1.7; display: none;}


@media screen and (min-width:321px){
	
}


@media screen and (max-height:420px){
   
}